h1= title
p Use bookmarklet <a href="javascript:(function(){window.location=window.location+'?Loggy='+encodeURIComponent(prompt('Your%20secret_key'))+'&server=#{server_location}';})();">Activate Loggy</a> to active logging on wordpress instalation, also change secret_key to match THAT CONFIGURED IN YOUR SERVER(both nodejs and php).

ul#logger
script(type='text/javascript')
  now.ready(function(){
    now.InfoLog = function(stack, message, host){
      if (message == "--MARK--") {
        $("#logger").prepend("<li class='mark'>&nbsp;</li>");
      }else{
        $("#logger").prepend(message+'<li><span class="host">'+host+'</span></li>');
      }
    }

    now.DebugLog = function(stack, message, host){
      if (message == "--MARK--") {
        $("#logger").prepend("<li class='mark'>&nbsp;</li>");
      }else{
        stack = JSON.parse(stack)[0];
        var info =  " <code>"+ stack.line + "</code>@" + stack.file+" ";
        $("#logger").prepend(message+'<li><span class="stack">'+info+'</span>'+'<span class="host">'+host+'</span></li>');
      }
    }
  });
